body,html,#container,#react { 
	height:100%;
	width:100%;
}
#leftContainer{
	background:#263238;
	color:white;
	height:100%;
	width:30%;
	padding:10px;
	float:left;
	border-right:2px solid #f7f7f9;
}
#rightContainer{
	height:100%;
	width:70%;
	padding:10px;
	float:left;
	overflow: auto;
}
#title{
	font-size:30px;
	font-weight:bold;
}
.formLabel{
	margin-bottom:5px;
	font-weight: 700;
	display:inline-block;
}
.topic {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid #ccc;
    margin-top:15px;
}

/* On mouse-over, add a deeper shadow */
.topic:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.topicContent {
    padding: 2px 15px;
}
.voteButtonGroup{
	width:100%;
	padding: 5px;
	border-bottom:1px solid #ccc;
	background: #f7f7f9;
}
.voteCount{
	display:inline;
	font-weight:bold;
	margin-left:10px;
	margin-right:10px;
}
.glyphicon{
	padding-right:5px;
}
#textError{
	padding-left:5px;
}