body,html,#container { 
	height:100%;
	width:100%;
}
#leftContainer{
	background:#263238;
	color:white;
	height:100%;
	width:30%;
	padding:10px;
	float:left;
	border-right:2px solid #f7f7f9;
}
#rightContainer{
	height:100%;
	width:70%;
	padding:10px;
	float:left;
}
#title{
	font-size:30px;
	font-weight:bold;
}
.formLabel{
	margin-bottom:5px;
	font-weight: 700;
	display:inline-block;
}